.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 15px 0;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .menuItem {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--font-size-medium);
    margin-right: 20px;
    cursor: pointer;
    display: inline-block;
  
  }
  
  .menuItem:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
  }