.campo-texto{
    margin: 24px 0;
}

.campo-texto label{
    display: block; /* quebrando a linha */
    margin-bottom: 24px;
    font-size: 24px;
}

.campo-texto input {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0); /* sombreado */
    width: 100%;  /* quem vai dizer o tamanho, é onde eu vou colocar ele */
    border: none; /* tirando a borda */
    border-radius: 5px; /* arredondando a borda */
    font-size: 24px;
    padding: 24px; /* espaçamento interno */
    box-sizing: border-box; /* levando em consideração o tamano da tela, para não vazar */
}