:root{
  --primary-color: #6278F7;
  --secondary-color: #fca699;
  --text-color: #fff;
  --font-size-large: 24px;
  --font-size-medium: 18px;
  --font-size-small: 14px;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }